td {
    padding: 5px 5px;
    margin: 2px 1px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    background: #ebebeb;
    color: #000;
}

body {
    font-family: Verdana, Helvetica, sans-serif;
}

table {
    max-height: 300px;
    max-width: 400px;
    overflow: auto;
    display: inline-block;
    border: 3px solid black;
    padding: 15px;
}

div {
    text-align: center;
}


.venntooltip {
    position: absolute;
    text-align: center;
    width: 250px;
    height: 200px;
    background: #555;
    color: #fff;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}

.samples {
    cursor: -webkit-grab;
    cursor: grab;
}

.samples:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.samples.ui-draggable-disabled {
    cursor: not-allowed;
    background-color: #555;
}

#venn {
    cursor: pointer;
     height: 550px;
    width: 550px; 
    display: inline-block;
     margin: 0 auto;
}

 .sidenav{
 float:left;
width:30%;
overflow:hidden;

}


